/*------------Inicio de Footer-------------*/



#logo {
    width: 120px;
    height: 120px;
    border-radius: 5px;
    background: white;


}
#caja {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    
    margin: 10px;
}    
.logos{
    justify-content: start;
    width: 400px;
    align-items: flex-start;
}